        </div>
        <div class="social-links-menu">
            <ul>
               
                <li>
                    <a href="{{ telegram }}" target="_blank">
                        <svg width="40" height="40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20 40c11.046 0 20-8.954 20-20S31.046 0 20 0 0 8.954 0 20s8.954 20 20 20z" fill="#039BE5"></path><path d="M9.152 19.567l19.283-7.435c.895-.324 1.677.218 1.387 1.571l.002-.001L26.54 29.17c-.243 1.097-.895 1.363-1.806.847l-5-3.685-2.412 2.323c-.267.267-.492.492-1.008.492l.355-5.089 9.266-8.371c.404-.355-.09-.555-.621-.202l-11.452 7.21-4.937-1.54c-1.071-.34-1.095-1.072.227-1.588z" fill="#fff"></path></svg>                <span>
                    Telegram
                </span>
                    </a>
                </li>
                <li class="gmail-button" data-clipboard-text="{{ email }}">
                    <a>
                        <svg width="40" height="40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M37.889 9.594l-2.554 25.642H4.665L2.608 10.09 20 19.828 37.889 9.594z" fill="#F2F2F2"></path><path d="M37.022 4.764L20 20.754 2.978 4.765h34.044z" fill="#F2F2F2"></path><path d="M4.665 12.148v23.088h-2.78A1.886 1.886 0 010 33.35V8.747l3.047.083 1.618 3.318z" fill="#F14336"></path><path d="M40 8.747V33.35a1.886 1.886 0 01-1.887 1.886h-2.778V12.148l1.538-3.635L40 8.747z" fill="#D32E2A"></path><path d="M40 6.65v2.097l-4.665 3.4L20 23.326 4.665 12.148 0 8.748V6.65c0-1.04.845-1.886 1.886-1.886h1.092L20 17.171 37.022 4.764h1.091C39.155 4.764 40 5.61 40 6.65z" fill="#F14336"></path><path d="M4.665 12.148L0 11.425V8.747l4.665 3.4z" fill="#D32E2A"></path></svg>
                        <span>
                    Gmail<br> <small style="font-size: 10px; padding-top: 15px;">{{ email }}</small>
                    </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="social-links-btn animat">
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width=85 height=85 version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 15527.86 15527.86" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xodm="http://www.corel.com/coreldraw/odm/2003">
 <defs>
     <style type="text/css">

         .fil0 {fill:#0076AB}
         .fil3 {fill:#034668}
         .fil2 {fill:#74BCD6}
         .fil1 {fill:white}

     </style>
 </defs>
                <g id="Слой_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                    <g id="_2269952279024">
                        <path class="fil0" d="M-0 7620c0,416.07 12.94,773.43 65.18,1170.94 70.43,535.87 188.9,1034.3 363.35,1533.2l200.35 510.84c83.35,195.09 177.12,378.39 271.31,566.89 102.76,205.68 226.47,404.79 352.96,595.3l194.67 287.93c16.03,22.69 34,45.45 50.79,67.75 16.91,22.48 31.87,46.46 49.53,69l427.09 521.18c84.67,101.26 307.6,329.71 414.42,423.78 42.42,37.36 75.01,82.23 120.06,117.01l515.29 432.98c24.7,18.43 44.02,31.95 67.26,51.27 249.95,207.8 810.66,547.93 1090.27,687.72 272.91,136.45 539.13,258.66 823.74,370.07l349.93 124.19c61.42,20.49 120.21,39.39 181,56.08 401.49,110.24 744.26,192.95 1177.33,253.53 311.85,43.62 645.53,63.14 976.62,68.2l364.64 0c38.22,-1.72 50.99,-8.79 97.33,-8.75l652.93 -58.26c610.39,-68.52 1306.59,-269.75 1874.04,-496.63 191.43,-76.55 324.53,-147.42 496.02,-223.65 30.74,-13.66 50.37,-19.06 80.99,-37.53 123.84,-74.73 260.99,-137.66 384.12,-208.55 223.57,-128.72 445.67,-268.11 653.7,-421.58 24.09,-17.77 43.7,-32.89 67.6,-50.93 134.64,-101.6 271.32,-201.56 398.63,-312.57l372.66 -338.54c24.2,-22.39 38.77,-29.66 63.68,-54.85 23.04,-23.31 40.2,-40.36 63.42,-63.58 113.48,-113.47 244.18,-269.42 343.03,-368.17 103.38,-103.28 232.69,-274.11 320.1,-391.1l249.12 -343.54c206.93,-312.65 414.7,-628.95 567.41,-973.52 25.31,-57.09 53.57,-102.69 79.66,-165.87 23.5,-56.9 50.46,-106.16 73.85,-163.23 22.41,-54.68 46,-106.55 70.14,-166.92 46.33,-115.9 87.9,-229.57 130.62,-343.52 43.12,-115.03 79.61,-235.8 114.87,-359.26 191.39,-670.15 318.15,-1360.25 318.15,-2069.45 0,-416.07 -12.94,-773.43 -65.18,-1170.94 -94.16,-716.37 -283.9,-1389.16 -563.7,-2044.04l-152.99 -329.62c-150.07,-312.9 -324.48,-617.09 -516.81,-905.58l-199.93 -282.67c-16.91,-22.48 -31.87,-46.46 -49.53,-69 -18.28,-23.34 -34.73,-43.29 -52.06,-66.48 -117.49,-157.23 -249.2,-304.21 -375.03,-454.7 -19.95,-23.86 -39.18,-36.88 -58.03,-60.5l-356.39 -363.28c-42.42,-37.36 -75.01,-82.23 -120.06,-117.01 -29.7,-22.94 -36.32,-31.98 -61.87,-56.66l-190.73 -164.87c-373.25,-332.36 -986.33,-733.51 -1420.22,-950.44 -25.97,-12.99 -51.7,-24.35 -78.91,-39.63 -322.18,-180.89 -918.26,-412.55 -1275.76,-510.71 -252.25,-69.26 -503.76,-143.25 -769.33,-187.4 -291.71,-48.49 -440.48,-71.18 -727.83,-101.9 -105.3,-11.25 -217.32,-24.68 -331.81,-23.79l-236.89 -8.64c-424.09,0 -792.81,9.69 -1202.76,67.25 -279.01,39.17 -541.92,84.6 -798.8,149.46 -466.69,117.82 -802.35,236.71 -1242.39,417.07 -169.58,69.51 -324.12,151.21 -487.03,232.64 -210.55,105.25 -405.13,219.5 -602.33,345.94 -243.07,155.85 -771.53,532.35 -952.06,715.87l-486.66 470.08c-41.8,41.59 -79.15,73.62 -115.88,121.18 -20.3,26.29 -37,37.26 -57.74,60.79 -148.08,168.03 -285.78,346.84 -427.2,521.07 -242.22,298.4 -629.98,946.52 -764.66,1250.4 -47.06,106.18 -108.32,218.83 -153.51,329.1l-200.76 510.44c-127.08,338.99 -236.42,769.66 -301.13,1129.73 -77.78,432.76 -131.89,834.18 -131.89,1298.98z"></path>
                        <path class="fil1" d="M2922.83 5381.52c19.08,18.15 136.05,230.84 159.98,273.47l486.45 842.63c106.44,187.58 212.11,374.52 321.84,558.78 56.08,94.15 104.66,186.98 161.48,278.72 32.46,52.42 19.88,107.84 19.88,200.21 0,75.09 0.49,150.35 -0.22,225.42 3.06,370.3 0.2,741.87 0.2,1112.31 0,186.27 0,372.54 0,558.8 0,177.1 -8.68,375.38 8.12,548.86 20.83,298.83 206.24,646.64 434.57,828.88 314.47,251.01 540.36,307.13 954.33,307.13l5054.6 0c453.8,0 685.18,-78.86 958.09,-303.31 187.49,-154.2 414.23,-467.83 439.28,-832.7 26.78,-277.09 8.13,-634.96 8.13,-921.39l0 -2810.93c0,-313.97 -16.09,-544.49 -148.61,-782.94 -119.21,-214.5 -258.2,-358.77 -455.39,-484.29 -208.01,-132.41 -442.39,-189.19 -742.23,-189.07l-4682.07 0c-310.48,0 -620.77,2.87 -931.09,-4.98 -303.37,-7.68 -611.01,-16.84 -914.64,-20.41 -193.23,-2.27 -757.29,-40.26 -899.62,6.31 -174.23,57 -293.05,235.68 -285.16,417.16 3.95,91.12 28.3,120.92 52.08,191.34z"></path>
                        <path class="fil2" d="M5448.11 6060.69c-241.02,51.96 -322.5,295.93 -228.56,471.47 111.66,208.64 321.88,173.44 597.05,173.44l4258.73 0c97.97,0 296.93,10.57 381.94,-6.73 185.27,-37.69 339.78,-254.59 223.62,-471.81 -111.33,-208.16 -321.91,-173.4 -597.09,-173.4l-4258.74 0c-94.56,0 -296.47,-10.32 -376.95,7.03z"></path>
                        <path class="fil2" d="M5498.91 7406.89c-241.02,51.96 -322.5,295.93 -228.56,471.47 111.66,208.64 321.88,173.44 597.05,173.44 1419.57,0 2839.15,0 4258.73,0 97.97,0 296.93,10.57 381.94,-6.73 185.27,-37.69 339.78,-254.6 223.62,-471.81 -111.33,-208.16 -321.91,-173.4 -597.09,-173.4 -1419.58,0 -2839.16,0 -4258.74,0 -94.56,0 -296.47,-10.32 -376.95,7.03z"></path>
                        <path class="fil3" d="M11921.43 9980.72c-25.05,364.87 -251.79,678.5 -439.28,832.7 -272.91,224.45 -504.29,303.31 -958.09,303.31l-5054.6 0c-413.97,0 -639.86,-56.12 -954.33,-307.13 -228.33,-182.24 -413.74,-530.05 -434.57,-828.88 -22.34,45.6 -8.82,263.41 -5.84,330.94 28.06,636.01 547.7,1165.37 1194.11,1200.44 215.98,11.72 456.21,2.34 674.77,2.34l4106.33 0c630.11,0 1128.39,80.4 1587.93,-460.79 161.76,-190.5 275.52,-462.45 289.07,-734.48 3.4,-68.27 17.08,-292.36 -5.5,-338.45z"></path>
                        <path class="fil2" d="M5448.11 8786.96c-392.02,84.51 -325.64,620.77 38.69,643.85 186.47,11.81 410.2,1.05 600.73,1.05 809.98,0 1619.96,0 2429.93,0 140.58,0 486.14,16.86 602.08,-6.73 145.98,-29.69 271.64,-163.77 260.57,-340.53 -10.21,-163.19 -141.08,-292.46 -303.61,-303.52 -184.63,-12.58 -412.08,-1.15 -601.37,-1.15 -809.98,0 -1619.96,0 -2429.93,0 -134.84,0 -488.78,-16.33 -597.09,7.03z"></path>
                        <path class="fil3" d="M4072.24 7760.75c0.71,-75.07 0.22,-150.33 0.22,-225.42 0,-92.37 12.58,-147.79 -19.88,-200.21 -56.82,-91.74 -105.4,-184.57 -161.48,-278.72 -109.73,-184.26 -215.4,-371.2 -321.84,-558.78l-486.45 -842.63c-23.93,-42.63 -140.9,-255.32 -159.98,-273.47 -71.75,54.36 -55.73,274.31 -16.97,357.05 69.64,148.64 400.95,698.81 499.24,872.51l667.14 1149.67z"></path>
                    </g>
                </g>
</svg>
            <script src="/catalog/view/javascript/jquery/clipboard.min.js"></script>

            <script>
                var clipboard = new ClipboardJS('.gmail-button');

                clipboard.on('success', function(e) {
                    var before = $('.gmail-button span').html();
                    $('.gmail-button span').html('<small style="font-size: 13px; padding: 10px 0;">Скопировано!<small>');

                    setTimeout(function(){
                        $('.gmail-button span').html(before);
                    }, 1000);
                });

            </script>
        </div>
        <footer class="footer">
            {{ home }}
            <div class="wrapper">
                <div class="footer-content">
                    <div class="footer-left">
                        {% if logo %}
							<a href="{{ home }}" class="logo"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" /></a>
                        {% else %}
							<a href="{{ home }}" class="logo">{{ name }}</a>
                        {% endif %}
                        <div>
                            <div style="margin-bottom: 10px">
                                <a href="{{ home }}">{{ text_home }}</a>
                            </div>
                            <div>
                                <a href="/contacts">{{ text_contact }}</a>
                            </div>
                        </div>
                        <div style="margin-left: 45px">
                            <div style="margin-bottom: 10px">
                                <a href="/support">{{ text_support_short }}</a>
                            </div>
                            <div>
                                <a href="/warranty">{{ text_guarantee }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-right">
						{{ config_comment }}
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div id="thanksPopup" class="popup-wrapper">
        <div class="popup-layout">
            <div class="popup popup-thanks">
                <div class="popup-cnt-wrap">
                    <div class="popup-cnt">
                        <div class="popup-img"><img src="catalog/view/theme/default/image/thanks.svg" alt="thanks"></div>
                        <h5>{{ text_order_confirmed }}</h5>
                        <a href="{{ home }}">{{ text_to_home }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

    <!--Libs-->
    <script src="catalog/view/javascript/libs/fancybox/jquery.fancybox.min.js"></script>
    <script src="catalog/view/javascript/libs/blazy/blazy.min.js"></script>
    <script src="catalog/view/javascript/libs/wow.min.js"></script>
    <script src="catalog/view/javascript/libs/validator/validator.min.js"></script>
    
    <!--general-->
    <script src="catalog/view/javascript/common.js"></script>

<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>